.component-shop-front {
    width: 100vmax;
    height: 40vmax;

}

.component-shop-front img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.component-shop-front-text {
    width: 40vmax;
    height: 10vax;
    font-size: 4vmax;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 0, 150);
    position: relative;
    text-align: left;
    padding-left: 10px;
}

.component-shop-front-text-box {
    width: 40vmax;
    height: 10vmax;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 40vmax;
}