.component-shop-front-wrapper {
    display: grid;
    grid-template-columns: 600px 2fr;
    grid-auto-rows: 100px 100px;
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.component-box-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    text-align: left;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.component-box-2 {
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start: 2;
}

.component-box-2 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.component-box-2-gradient {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(43,42,42,1) 0%,rgba(255,255,255,0) 75%);
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 9;
}

.component-box-3 {
    grid-row-start: 4;
    grid-row-end: 9;
}

.component-box-4 {
    grid-row-start: 3;
    grid-row-end: 4;
}