.component-location {
    width: 100vmax;
    height: 1000px;
    display: flex;
    color: white;

}

.component-location-map {
    width: 1400px;
    height: 900px;
    display: block;
    padding: 50px;
}

.component-location-map img {
    width: 1400px;
    height: 900px;
    object-fit: cover;
    border-radius: 25px;
}

.component-location-info-wrapper {
    width: 800px;
    margin: auto;
    padding: 30px;
    display: grid;
    background-color: rgb(71, 71, 71);
    border-radius: 25px;
    
}

.component-location-info-box-a {
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.component-location-info-box-b {
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}