.component-location {
    width: 100vmax;
    height: 1000px;
    display: flex;
    color: white;

}

.component-location-map {
    width: 1400px;
    height: 900px;
    display: block;
    padding: 50px;
}

.component-location-map img {
    width: 1400px;
    height: 900px;
    object-fit: cover;
    border-radius: 25px;
}

.component-location-info-wrapper {
    margin: auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-auto-rows: 170px;
    align-items: center;
    justify-content: center;
    
}

.component-location-info-box-a {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.component-location-info-box-b {
    width: 100%;
    height: 100%;
    font-size: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}