.component-services {
    width: 100vmax;
    height: 2000px;
    background-color: rgb(88, 88, 88);
    color: gold;
    
}


.component-services-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px;
    align-items: center;
    /* border: 5px solid #87b5ff; */
    border-radius: 3px;
    font-size: 50px;
}

.component-services-title-box {
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 77, 0.631);
    grid-column-start: 1;
    grid-column-end: 4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.component-services-box {
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 77, 0.631);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 5px solid #87b5ff; */
}

.component-services-box-ast {
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 77, 0.631);
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column-start: 1;
    grid-column-end: 4;
    /* border: 5px solid #87b5ff; */
}