.component-topribbon {
    width: 100vmax;
    height: 60px;
    background-color: white;
    display: flex;
}

.component-logo {
    width: 130px;
    height: 100%;
}

.component-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.component-buttons {
    width: 40vmax;
    height: 100%;
    display: flex;
    align-items:flex-start;
    flex-wrap: wrap;
    font-size: 20px;
    vertical-align: middle;
}

.component-button-home {
    width: 20%;
    height: 100%;
}

.component-button-about {
    width: 20%;
    height: 100%;
}

.component-button-appointments {
    width: 60%;
    height: 100%;
}

.component-space {
    width: 30vmax;
    display: flex;
}

.component-contact {
    width: 900px;
    height: 100%;
    display: flex;
    font-size: 20px;
    align-content: right;
}

.component-icon-phone {
    width: 50px;
    height: 60px;
    justify-content: center;
    align-items: center;

}

.component-icon-phone img {
    width: 80%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.component-phone-number {
    width: 40%;
    height: 100%;
}

.component-icon-mail {
    width: 50px;
    height: 60px;
    padding-left: 5px;
    display: flex;
}

.component-icon-mail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.component-icon-mail-address {
    width: 60%;
    height: 100%;
    text-align: center;
    padding-right: 50px;
}